#treepanel {
    overflow: auto;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid lightgray;
    padding: 5px;
    height: calc(100vh - 201px);
}
