@using MDD4All.SpecIF.ViewModels
@if (DataContext != null)
{
    <table width="100%">
        <tr>
            <th width="30"
                class="first"
                @onclick="OnButtonClick">
                @if (IsCollapsed)
                {
                    <i class="bi bi-caret-right-fill"></i>
                }
                else
                {
                    <i class="bi bi-caret-down-fill"></i>
                }

            </th>
            <th colspan="2"
                class="header">@DataContext.Type
                
                @if (DataContext.IsInEditMode)
                {
                    <button class="btn btn-prinary">Save</button>
                    <button class="btn btn-secondary">Cancel</button>
                }
                else
                {
                    <button class="btn btn-prinary">Edit</button>
                }
            </th>

        </tr>
        @if (!IsCollapsed)
        {
            @foreach (PropertyViewModel propertyViewModel in DataContext.Properties)
            {
                @if (DataContext.IsInEditMode)
                {
                    <PropertyEditorTableRow DataContext="propertyViewModel"
                                            PrimaryLanguage="@PrimaryLanguage" />
                }
                else
                {
                    <PropertyViewerTableRow DataContext="propertyViewModel"
                                            PrimaryLanguage="@PrimaryLanguage" />
                }
            }
        }
    </table>
}